body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:996px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49764 {
  position:fixed;
  left:0px;
  top:0px;
}
#u49764_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u49764_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2024px;
  height:108px;
}
#u49765 {
  position:absolute;
  left:0px;
  top:12px;
  width:2024px;
  height:108px;
}
#u49766 {
  position:absolute;
  left:2px;
  top:46px;
  width:2020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2020px;
  height:114px;
}
#u49767 {
  position:absolute;
  left:0px;
  top:0px;
  width:2020px;
  height:114px;
}
#u49768 {
  position:absolute;
  left:2px;
  top:49px;
  width:2016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2025px;
  height:50px;
}
#u49769 {
  position:absolute;
  left:0px;
  top:86px;
  width:2025px;
  height:50px;
}
#u49770 {
  position:absolute;
  left:2px;
  top:17px;
  width:2021px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49771_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:2029px;
  height:5px;
}
#u49771 {
  position:absolute;
  left:0px;
  top:85px;
  width:2026px;
  height:2px;
  opacity:0.5;
}
#u49772 {
  position:absolute;
  left:2px;
  top:-7px;
  width:2022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49773 {
  position:absolute;
  left:233px;
  top:33px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49774 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u49775 {
  position:absolute;
  left:172px;
  top:90px;
  width:1243px;
  height:40px;
}
#u49775_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1249px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49776 {
  position:absolute;
  left:0px;
  top:0px;
  width:1248px;
  height:45px;
}
#u49777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u49777 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u49778 {
  position:absolute;
  left:2px;
  top:9px;
  width:174px;
  word-wrap:break-word;
}
#u49779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u49779 {
  position:absolute;
  left:178px;
  top:0px;
  width:178px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u49780 {
  position:absolute;
  left:2px;
  top:9px;
  width:174px;
  word-wrap:break-word;
}
#u49781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u49781 {
  position:absolute;
  left:356px;
  top:0px;
  width:178px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u49782 {
  position:absolute;
  left:2px;
  top:9px;
  width:174px;
  word-wrap:break-word;
}
#u49783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u49783 {
  position:absolute;
  left:534px;
  top:0px;
  width:178px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u49784 {
  position:absolute;
  left:2px;
  top:9px;
  width:174px;
  word-wrap:break-word;
}
#u49785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u49785 {
  position:absolute;
  left:712px;
  top:0px;
  width:178px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u49786 {
  position:absolute;
  left:2px;
  top:9px;
  width:174px;
  word-wrap:break-word;
}
#u49787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u49787 {
  position:absolute;
  left:890px;
  top:0px;
  width:178px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u49788 {
  position:absolute;
  left:2px;
  top:9px;
  width:174px;
  word-wrap:break-word;
}
#u49789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
}
#u49789 {
  position:absolute;
  left:1068px;
  top:0px;
  width:175px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u49790 {
  position:absolute;
  left:2px;
  top:9px;
  width:171px;
  word-wrap:break-word;
}
#u49791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u49791 {
  position:absolute;
  left:172px;
  top:35px;
  width:55px;
  height:36px;
  color:#C62F2F;
}
#u49792 {
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49793 {
  position:absolute;
  left:382px;
  top:54px;
  width:127px;
  height:16px;
}
#u49794 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u49795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49795 {
  position:absolute;
  left:171px;
  top:2161px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49796 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u49797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49797 {
  position:absolute;
  left:171px;
  top:2567px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49798 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u49799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49799 {
  position:absolute;
  left:171px;
  top:3436px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49800 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u49801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49801 {
  position:absolute;
  left:215px;
  top:2221px;
  width:161px;
  height:144px;
}
#u49802 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u49803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
}
#u49803 {
  position:absolute;
  left:210px;
  top:2630px;
  width:300px;
  height:88px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49804 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u49805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u49805 {
  position:absolute;
  left:233px;
  top:2701px;
  width:149px;
  height:176px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u49806 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u49807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u49807 {
  position:absolute;
  left:225px;
  top:3059px;
  width:107px;
  height:176px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u49808 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u49809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
}
#u49809 {
  position:absolute;
  left:201px;
  top:2990px;
  width:300px;
  height:66px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49810 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u49811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u49811 {
  position:absolute;
  left:191px;
  top:2057px;
  width:253px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u49812 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u49813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49814 {
  position:absolute;
  left:131px;
  top:2056px;
  width:30px;
  height:30px;
}
#u49815 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49816 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49817_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:362px;
  height:6px;
}
#u49817 {
  position:absolute;
  left:129px;
  top:2098px;
  width:359px;
  height:3px;
}
#u49818 {
  position:absolute;
  left:2px;
  top:-6px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49819_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:117px;
}
#u49819 {
  position:absolute;
  left:172px;
  top:2035px;
  width:3px;
  height:114px;
}
#u49820 {
  position:absolute;
  left:2px;
  top:49px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u49821 {
  position:absolute;
  left:222px;
  top:3503px;
  width:107px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u49822 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u49823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49824 {
  position:absolute;
  left:131px;
  top:204px;
  width:30px;
  height:30px;
}
#u49825 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49826 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49827_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:362px;
  height:6px;
}
#u49827 {
  position:absolute;
  left:129px;
  top:246px;
  width:359px;
  height:3px;
}
#u49828 {
  position:absolute;
  left:2px;
  top:-6px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49829_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:117px;
}
#u49829 {
  position:absolute;
  left:172px;
  top:183px;
  width:3px;
  height:114px;
}
#u49830 {
  position:absolute;
  left:2px;
  top:49px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u49831 {
  position:absolute;
  left:186px;
  top:202px;
  width:169px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u49832 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u49833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49833 {
  position:absolute;
  left:173px;
  top:311px;
  width:433px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49834 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u49835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:22px;
}
#u49835 {
  position:absolute;
  left:173px;
  top:1824px;
  width:415px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49836 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u49837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:22px;
}
#u49837 {
  position:absolute;
  left:173px;
  top:1668px;
  width:361px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49838 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u49839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
}
#u49839 {
  position:absolute;
  left:173px;
  top:1518px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49840 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u49841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
}
#u49841 {
  position:absolute;
  left:173px;
  top:1368px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49842 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u49843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:22px;
}
#u49843 {
  position:absolute;
  left:173px;
  top:1164px;
  width:289px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49844 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u49845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:22px;
}
#u49845 {
  position:absolute;
  left:173px;
  top:979px;
  width:433px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49846 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u49847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:22px;
}
#u49847 {
  position:absolute;
  left:173px;
  top:746px;
  width:307px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49848 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u49849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:22px;
}
#u49849 {
  position:absolute;
  left:173px;
  top:473px;
  width:307px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49850 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u49851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49851 {
  position:absolute;
  left:217px;
  top:355px;
  width:779px;
  height:16px;
}
#u49852 {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  white-space:nowrap;
}
#u49853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49853 {
  position:absolute;
  left:218px;
  top:523px;
  width:550px;
  height:16px;
}
#u49854 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  white-space:nowrap;
}
#u49855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49855 {
  position:absolute;
  left:219px;
  top:793px;
  width:765px;
  height:16px;
}
#u49856 {
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  white-space:nowrap;
}
#u49857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49857 {
  position:absolute;
  left:219px;
  top:833px;
  width:427px;
  height:16px;
}
#u49858 {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  white-space:nowrap;
}
#u49859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49859 {
  position:absolute;
  left:219px;
  top:873px;
  width:261px;
  height:16px;
}
#u49860 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u49861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49861 {
  position:absolute;
  left:226px;
  top:1038px;
  width:345px;
  height:16px;
}
#u49862 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u49863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49863 {
  position:absolute;
  left:230px;
  top:1216px;
  width:694px;
  height:80px;
}
#u49864 {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  white-space:nowrap;
}
#u49865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49865 {
  position:absolute;
  left:229px;
  top:1414px;
  width:301px;
  height:16px;
}
#u49866 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u49867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49867 {
  position:absolute;
  left:228px;
  top:1566px;
  width:261px;
  height:16px;
}
#u49868 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u49869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49869 {
  position:absolute;
  left:229px;
  top:1714px;
  width:283px;
  height:48px;
}
#u49870 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
