body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52385 {
  position:absolute;
  left:57px;
  top:1851px;
  width:435px;
  height:32px;
}
#u52386 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
#u52387_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u52387 {
  position:absolute;
  left:2px;
  top:1576px;
  width:30px;
  height:30px;
}
#u52388 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u52389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u52389 {
  position:absolute;
  left:47px;
  top:1580px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u52390 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u52391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u52391 {
  position:absolute;
  left:57px;
  top:2265px;
  width:353px;
  height:90px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u52392 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u52393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u52393 {
  position:absolute;
  left:57px;
  top:2365px;
  width:155px;
  height:144px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u52394 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u52395_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:960px;
  height:87px;
}
#u52395 {
  position:absolute;
  left:57px;
  top:1744px;
  width:950px;
  height:77px;
}
#u52396 {
  position:absolute;
  left:2px;
  top:30px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52397_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:944px;
  height:102px;
}
#u52397 {
  position:absolute;
  left:57px;
  top:1642px;
  width:934px;
  height:92px;
}
#u52398 {
  position:absolute;
  left:2px;
  top:38px;
  width:930px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52399 {
  position:absolute;
  left:57px;
  top:2519px;
  width:275px;
  height:16px;
}
#u52400 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u52401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:364px;
}
#u52401 {
  position:absolute;
  left:57px;
  top:1891px;
  width:421px;
  height:364px;
}
#u52402 {
  position:absolute;
  left:2px;
  top:174px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:905px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u52403 {
  position:absolute;
  left:47px;
  top:1616px;
  width:6px;
  height:905px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u52404 {
  position:absolute;
  left:8px;
  top:4px;
  width:1px;
  word-wrap:break-word;
}
#u52405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52406_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:652px;
  height:93px;
}
#u52406 {
  position:absolute;
  left:57px;
  top:1355px;
  width:642px;
  height:83px;
}
#u52407 {
  position:absolute;
  left:2px;
  top:34px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52408_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:663px;
  height:83px;
}
#u52408 {
  position:absolute;
  left:57px;
  top:1467px;
  width:653px;
  height:73px;
}
#u52409 {
  position:absolute;
  left:2px;
  top:28px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52410_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u52410 {
  position:absolute;
  left:2px;
  top:1147px;
  width:30px;
  height:30px;
}
#u52411 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u52412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u52412 {
  position:absolute;
  left:47px;
  top:1151px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u52413 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u52414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52414 {
  position:absolute;
  left:57px;
  top:1337px;
  width:37px;
  height:16px;
}
#u52415 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u52416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52416 {
  position:absolute;
  left:57px;
  top:1447px;
  width:37px;
  height:16px;
}
#u52417 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u52418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u52418 {
  position:absolute;
  left:57px;
  top:1193px;
  width:625px;
  height:144px;
  line-height:18px;
}
#u52419 {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  white-space:nowrap;
}
#u52420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:348px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u52420 {
  position:absolute;
  left:47px;
  top:1192px;
  width:6px;
  height:348px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u52421 {
  position:absolute;
  left:8px;
  top:4px;
  width:1px;
  word-wrap:break-word;
}
#u52422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:450px;
}
#u52422 {
  position:absolute;
  left:57px;
  top:2951px;
  width:439px;
  height:450px;
}
#u52423 {
  position:absolute;
  left:2px;
  top:217px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u52424 {
  position:absolute;
  left:57px;
  top:2602px;
  width:92px;
  height:15px;
  font-size:12px;
}
#u52425 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u52426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u52426 {
  position:absolute;
  left:57px;
  top:2623px;
  width:353px;
  height:90px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u52427 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u52428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u52428 {
  position:absolute;
  left:57px;
  top:2817px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u52429 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u52430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u52430 {
  position:absolute;
  left:57px;
  top:2835px;
  width:345px;
  height:108px;
  line-height:18px;
}
#u52431 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u52432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u52432 {
  position:absolute;
  left:57px;
  top:2727px;
  width:92px;
  height:15px;
  font-size:12px;
}
#u52433 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u52434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u52434 {
  position:absolute;
  left:57px;
  top:2749px;
  width:353px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u52435 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u52436_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u52436 {
  position:absolute;
  left:2px;
  top:2558px;
  width:30px;
  height:30px;
}
#u52437 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u52438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u52438 {
  position:absolute;
  left:47px;
  top:2562px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u52439 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u52440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:782px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u52440 {
  position:absolute;
  left:47px;
  top:2602px;
  width:6px;
  height:782px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u52441 {
  position:absolute;
  left:8px;
  top:4px;
  width:1px;
  word-wrap:break-word;
}
#u52442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:422px;
}
#u52442 {
  position:absolute;
  left:57px;
  top:3767px;
  width:427px;
  height:422px;
}
#u52443 {
  position:absolute;
  left:2px;
  top:203px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u52444 {
  position:absolute;
  left:58px;
  top:3668px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u52445 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u52446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u52446 {
  position:absolute;
  left:58px;
  top:3688px;
  width:345px;
  height:72px;
  line-height:18px;
}
#u52447 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u52448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u52448 {
  position:absolute;
  left:58px;
  top:3461px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u52449 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u52450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u52450 {
  position:absolute;
  left:58px;
  top:3487px;
  width:323px;
  height:90px;
  line-height:18px;
}
#u52451 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u52452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u52452 {
  position:absolute;
  left:58px;
  top:3587px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u52453 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u52454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  line-height:18px;
}
#u52454 {
  position:absolute;
  left:58px;
  top:3604px;
  width:255px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  line-height:18px;
}
#u52455 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u52456_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u52456 {
  position:absolute;
  left:2px;
  top:3421px;
  width:30px;
  height:30px;
}
#u52457 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u52458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u52458 {
  position:absolute;
  left:47px;
  top:3425px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u52459 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u52460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:713px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u52460 {
  position:absolute;
  left:47px;
  top:3461px;
  width:6px;
  height:713px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u52461 {
  position:absolute;
  left:8px;
  top:4px;
  width:1px;
  word-wrap:break-word;
}
#u52462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52462 {
  position:absolute;
  left:56px;
  top:4250px;
  width:527px;
  height:16px;
}
#u52463 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  white-space:nowrap;
}
#u52464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u52464 {
  position:absolute;
  left:47px;
  top:4218px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u52465 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u52466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:343px;
}
#u52466 {
  position:absolute;
  left:56px;
  top:4534px;
  width:386px;
  height:343px;
}
#u52467 {
  position:absolute;
  left:2px;
  top:164px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52468 {
  position:absolute;
  left:56px;
  top:4494px;
  width:345px;
  height:16px;
}
#u52469 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u52470_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:920px;
  height:89px;
}
#u52470 {
  position:absolute;
  left:56px;
  top:4287px;
  width:910px;
  height:79px;
}
#u52471 {
  position:absolute;
  left:2px;
  top:32px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52473_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:953px;
  height:102px;
}
#u52473 {
  position:absolute;
  left:56px;
  top:4381px;
  width:943px;
  height:92px;
}
#u52474 {
  position:absolute;
  left:2px;
  top:38px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52475_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u52475 {
  position:absolute;
  left:2px;
  top:4210px;
  width:30px;
  height:30px;
}
#u52476 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u52477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:613px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u52477 {
  position:absolute;
  left:47px;
  top:4250px;
  width:6px;
  height:613px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u52478 {
  position:absolute;
  left:8px;
  top:4px;
  width:1px;
  word-wrap:break-word;
}
#u52479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52480 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u52481 {
  position:absolute;
  left:47px;
  top:824px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u52482 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u52483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u52483 {
  position:absolute;
  left:57px;
  top:860px;
  width:373px;
  height:108px;
  line-height:18px;
}
#u52484 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u52485_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u52485 {
  position:absolute;
  left:2px;
  top:820px;
  width:30px;
  height:30px;
}
#u52486 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u52487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:133px;
}
#u52487 {
  position:absolute;
  left:57px;
  top:978px;
  width:214px;
  height:133px;
}
#u52488 {
  position:absolute;
  left:2px;
  top:58px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u52489 {
  position:absolute;
  left:47px;
  top:860px;
  width:6px;
  height:251px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u52490 {
  position:absolute;
  left:8px;
  top:4px;
  width:1px;
  word-wrap:break-word;
}
#u52491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1394px;
  height:794px;
}
#u52491 {
  position:absolute;
  left:0px;
  top:0px;
  width:1394px;
  height:794px;
}
#u52492 {
  position:absolute;
  left:2px;
  top:389px;
  width:1390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u52493 {
  position:absolute;
  left:57px;
  top:1616px;
  width:300px;
  height:16px;
  font-size:14px;
}
#u52494 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
