body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1224px;
}
#u40981 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1224px;
}
#u40982 {
  position:absolute;
  left:2px;
  top:604px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40983 {
  position:absolute;
  left:133px;
  top:3401px;
  width:505px;
  height:183px;
}
#u40984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u40984 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u40985 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u40986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u40986 {
  position:absolute;
  left:100px;
  top:0px;
  width:300px;
  height:36px;
}
#u40987 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u40988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u40988 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:36px;
}
#u40989 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u40990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u40990 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:52px;
}
#u40991 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u40992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
}
#u40992 {
  position:absolute;
  left:100px;
  top:36px;
  width:300px;
  height:52px;
}
#u40993 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u40994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u40994 {
  position:absolute;
  left:400px;
  top:36px;
  width:100px;
  height:52px;
}
#u40995 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u40996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40996 {
  position:absolute;
  left:0px;
  top:88px;
  width:100px;
  height:30px;
}
#u40997 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u40998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u40998 {
  position:absolute;
  left:100px;
  top:88px;
  width:300px;
  height:30px;
}
#u40999 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u41000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41000 {
  position:absolute;
  left:400px;
  top:88px;
  width:100px;
  height:30px;
}
#u41001 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41002 {
  position:absolute;
  left:0px;
  top:118px;
  width:100px;
  height:30px;
}
#u41003 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u41004 {
  position:absolute;
  left:100px;
  top:118px;
  width:300px;
  height:30px;
}
#u41005 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u41006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41006 {
  position:absolute;
  left:400px;
  top:118px;
  width:100px;
  height:30px;
}
#u41007 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41008 {
  position:absolute;
  left:0px;
  top:148px;
  width:100px;
  height:30px;
}
#u41009 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u41010 {
  position:absolute;
  left:100px;
  top:148px;
  width:300px;
  height:30px;
}
#u41011 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u41012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41012 {
  position:absolute;
  left:400px;
  top:148px;
  width:100px;
  height:30px;
}
#u41013 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41014_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41014 {
  position:absolute;
  left:1965px;
  top:50px;
  width:30px;
  height:30px;
}
#u41015 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41016 {
  position:absolute;
  left:2027px;
  top:53px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u41017 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u41018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:260px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41018 {
  position:absolute;
  left:2017px;
  top:99px;
  width:2px;
  height:260px;
}
#u41019 {
  position:absolute;
  left:2px;
  top:122px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41020_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41020 {
  position:absolute;
  left:366px;
  top:135px;
  width:30px;
  height:30px;
}
#u41021 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41022 {
  position:absolute;
  left:2029px;
  top:99px;
  width:275px;
  height:40px;
  line-height:20px;
}
#u41023 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u41024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:48px;
}
#u41024 {
  position:absolute;
  left:2035px;
  top:141px;
  width:543px;
  height:48px;
}
#u41025 {
  position:absolute;
  left:2px;
  top:16px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41026 {
  position:absolute;
  left:2029px;
  top:199px;
  width:359px;
  height:20px;
  line-height:20px;
}
#u41027 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u41028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:51px;
}
#u41028 {
  position:absolute;
  left:2043px;
  top:219px;
  width:553px;
  height:51px;
}
#u41029 {
  position:absolute;
  left:2px;
  top:18px;
  width:549px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:44px;
}
#u41030 {
  position:absolute;
  left:2042px;
  top:310px;
  width:545px;
  height:44px;
}
#u41031 {
  position:absolute;
  left:2px;
  top:14px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41032 {
  position:absolute;
  left:2029px;
  top:285px;
  width:79px;
  height:20px;
  line-height:20px;
}
#u41033 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u41034_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41034 {
  position:absolute;
  left:1965px;
  top:382px;
  width:30px;
  height:30px;
}
#u41035 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41036 {
  position:absolute;
  left:2027px;
  top:385px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u41037 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u41038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41038 {
  position:absolute;
  left:2029px;
  top:425px;
  width:177px;
  height:40px;
  line-height:20px;
}
#u41039 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u41040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:240px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41040 {
  position:absolute;
  left:2017px;
  top:425px;
  width:2px;
  height:240px;
}
#u41041 {
  position:absolute;
  left:2px;
  top:112px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41042 {
  position:absolute;
  left:2029px;
  top:518px;
  width:149px;
  height:20px;
  line-height:20px;
}
#u41043 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u41044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41044 {
  position:absolute;
  left:2029px;
  top:592px;
  width:289px;
  height:20px;
  line-height:20px;
}
#u41045 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u41046_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41046 {
  position:absolute;
  left:1965px;
  top:803px;
  width:30px;
  height:30px;
}
#u41047 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41048 {
  position:absolute;
  left:2027px;
  top:806px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u41049 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u41050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:240px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41050 {
  position:absolute;
  left:2017px;
  top:846px;
  width:2px;
  height:240px;
}
#u41051 {
  position:absolute;
  left:2px;
  top:112px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41052 {
  position:absolute;
  left:2029px;
  top:846px;
  width:237px;
  height:40px;
  line-height:20px;
}
#u41053 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u41054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:47px;
}
#u41054 {
  position:absolute;
  left:2028px;
  top:890px;
  width:625px;
  height:47px;
}
#u41055 {
  position:absolute;
  left:2px;
  top:16px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:44px;
}
#u41056 {
  position:absolute;
  left:2035px;
  top:961px;
  width:597px;
  height:44px;
}
#u41057 {
  position:absolute;
  left:2px;
  top:14px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41058 {
  position:absolute;
  left:2029px;
  top:937px;
  width:149px;
  height:20px;
  line-height:20px;
}
#u41059 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u41060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41060 {
  position:absolute;
  left:2029px;
  top:1015px;
  width:79px;
  height:20px;
  line-height:20px;
}
#u41061 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u41062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:42px;
}
#u41062 {
  position:absolute;
  left:2023px;
  top:1039px;
  width:642px;
  height:42px;
}
#u41063 {
  position:absolute;
  left:2px;
  top:13px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41064_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41064 {
  position:absolute;
  left:1965px;
  top:1117px;
  width:30px;
  height:30px;
}
#u41065 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41066 {
  position:absolute;
  left:2027px;
  top:1120px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u41067 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u41068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41068 {
  position:absolute;
  left:2029px;
  top:1165px;
  width:419px;
  height:20px;
  line-height:20px;
}
#u41069 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u41070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41070 {
  position:absolute;
  left:2017px;
  top:1171px;
  width:2px;
  height:120px;
}
#u41071 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:43px;
}
#u41072 {
  position:absolute;
  left:2043px;
  top:1189px;
  width:464px;
  height:43px;
}
#u41073 {
  position:absolute;
  left:2px;
  top:14px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41074 {
  position:absolute;
  left:2029px;
  top:1238px;
  width:387px;
  height:20px;
  line-height:20px;
}
#u41075 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u41076_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41076 {
  position:absolute;
  left:1965px;
  top:1301px;
  width:30px;
  height:30px;
}
#u41077 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41078 {
  position:absolute;
  left:2027px;
  top:1304px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u41079 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u41080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41080 {
  position:absolute;
  left:2017px;
  top:1355px;
  width:2px;
  height:50px;
}
#u41081 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41082 {
  position:absolute;
  left:2029px;
  top:1364px;
  width:275px;
  height:20px;
  line-height:20px;
}
#u41083 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u41084_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41084 {
  position:absolute;
  left:33px;
  top:1256px;
  width:30px;
  height:30px;
}
#u41085 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41086 {
  position:absolute;
  left:95px;
  top:1259px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u41087 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u41088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:620px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41088 {
  position:absolute;
  left:85px;
  top:1310px;
  width:2px;
  height:620px;
}
#u41089 {
  position:absolute;
  left:2px;
  top:302px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:46px;
}
#u41090 {
  position:absolute;
  left:94px;
  top:1333px;
  width:467px;
  height:46px;
}
#u41091 {
  position:absolute;
  left:2px;
  top:15px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41092 {
  position:absolute;
  left:97px;
  top:1310px;
  width:191px;
  height:20px;
  line-height:20px;
}
#u41093 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u41094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41094 {
  position:absolute;
  left:97px;
  top:1389px;
  width:499px;
  height:20px;
  line-height:20px;
}
#u41095 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  white-space:nowrap;
}
#u41096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:390px;
}
#u41096 {
  position:absolute;
  left:97px;
  top:1419px;
  width:459px;
  height:390px;
}
#u41097 {
  position:absolute;
  left:2px;
  top:187px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41098 {
  position:absolute;
  left:97px;
  top:1836px;
  width:317px;
  height:20px;
  line-height:20px;
}
#u41099 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  white-space:nowrap;
}
#u41100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:66px;
}
#u41100 {
  position:absolute;
  left:106px;
  top:1863px;
  width:648px;
  height:66px;
}
#u41101 {
  position:absolute;
  left:2px;
  top:25px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41102_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41102 {
  position:absolute;
  left:33px;
  top:1968px;
  width:30px;
  height:30px;
}
#u41103 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41104 {
  position:absolute;
  left:95px;
  top:1971px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u41105 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u41106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:260px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41106 {
  position:absolute;
  left:85px;
  top:2022px;
  width:2px;
  height:260px;
}
#u41107 {
  position:absolute;
  left:2px;
  top:122px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41108 {
  position:absolute;
  left:97px;
  top:2025px;
  width:233px;
  height:20px;
  line-height:20px;
}
#u41109 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u41110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:54px;
}
#u41110 {
  position:absolute;
  left:97px;
  top:2046px;
  width:476px;
  height:54px;
}
#u41111 {
  position:absolute;
  left:2px;
  top:19px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41112 {
  position:absolute;
  left:97px;
  top:2114px;
  width:163px;
  height:20px;
  line-height:20px;
}
#u41113 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u41114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:49px;
}
#u41114 {
  position:absolute;
  left:103px;
  top:2146px;
  width:489px;
  height:49px;
}
#u41115 {
  position:absolute;
  left:2px;
  top:16px;
  width:485px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41116 {
  position:absolute;
  left:97px;
  top:2207px;
  width:79px;
  height:20px;
  line-height:20px;
}
#u41117 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u41118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:50px;
}
#u41118 {
  position:absolute;
  left:103px;
  top:2234px;
  width:509px;
  height:50px;
}
#u41119 {
  position:absolute;
  left:2px;
  top:17px;
  width:505px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41120_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41120 {
  position:absolute;
  left:33px;
  top:2294px;
  width:30px;
  height:30px;
}
#u41121 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41122 {
  position:absolute;
  left:95px;
  top:2297px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u41123 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u41124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:260px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41124 {
  position:absolute;
  left:85px;
  top:2348px;
  width:2px;
  height:260px;
}
#u41125 {
  position:absolute;
  left:2px;
  top:122px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:47px;
}
#u41126 {
  position:absolute;
  left:127px;
  top:2376px;
  width:448px;
  height:47px;
}
#u41127 {
  position:absolute;
  left:2px;
  top:16px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41128 {
  position:absolute;
  left:97px;
  top:2348px;
  width:233px;
  height:20px;
  line-height:20px;
}
#u41129 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u41130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:48px;
}
#u41130 {
  position:absolute;
  left:99px;
  top:2534px;
  width:483px;
  height:48px;
}
#u41131 {
  position:absolute;
  left:2px;
  top:16px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:46px;
}
#u41132 {
  position:absolute;
  left:119px;
  top:2453px;
  width:456px;
  height:46px;
}
#u41133 {
  position:absolute;
  left:2px;
  top:15px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41134 {
  position:absolute;
  left:97px;
  top:2428px;
  width:135px;
  height:20px;
  line-height:20px;
}
#u41135 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u41136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41136 {
  position:absolute;
  left:97px;
  top:2509px;
  width:79px;
  height:20px;
  line-height:20px;
}
#u41137 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u41138_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41138 {
  position:absolute;
  left:33px;
  top:2631px;
  width:30px;
  height:30px;
}
#u41139 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41140 {
  position:absolute;
  left:95px;
  top:2631px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u41141 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u41142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41142 {
  position:absolute;
  left:85px;
  top:2665px;
  width:2px;
  height:900px;
}
#u41143 {
  position:absolute;
  left:2px;
  top:442px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41144 {
  position:absolute;
  left:97px;
  top:2665px;
  width:135px;
  height:20px;
  line-height:20px;
}
#u41145 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u41146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:287px;
}
#u41146 {
  position:absolute;
  left:97px;
  top:2803px;
  width:757px;
  height:287px;
}
#u41147 {
  position:absolute;
  left:2px;
  top:136px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:282px;
}
#u41148 {
  position:absolute;
  left:127px;
  top:3137px;
  width:760px;
  height:282px;
}
#u41149 {
  position:absolute;
  left:2px;
  top:133px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41150 {
  position:absolute;
  left:97px;
  top:3090px;
  width:79px;
  height:20px;
  line-height:20px;
}
#u41151 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u41152_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41152 {
  position:absolute;
  left:16px;
  top:3606px;
  width:30px;
  height:30px;
}
#u41153 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41154 {
  position:absolute;
  left:78px;
  top:3609px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u41155 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u41156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:400px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41156 {
  position:absolute;
  left:85px;
  top:3658px;
  width:2px;
  height:400px;
}
#u41157 {
  position:absolute;
  left:2px;
  top:192px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41158 {
  position:absolute;
  left:97px;
  top:3658px;
  width:163px;
  height:20px;
  line-height:20px;
}
#u41159 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u41160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:206px;
}
#u41160 {
  position:absolute;
  left:103px;
  top:3688px;
  width:499px;
  height:206px;
}
#u41161 {
  position:absolute;
  left:2px;
  top:95px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:134px;
}
#u41162 {
  position:absolute;
  left:97px;
  top:3924px;
  width:444px;
  height:134px;
}
#u41163 {
  position:absolute;
  left:2px;
  top:59px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41164 {
  position:absolute;
  left:103px;
  top:3899px;
  width:597px;
  height:20px;
  line-height:20px;
}
#u41165 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  white-space:nowrap;
}
#u41166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u41166 {
  position:absolute;
  left:97px;
  top:4152px;
  width:555px;
  height:20px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u41167 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  white-space:nowrap;
}
#u41168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:68px;
}
#u41168 {
  position:absolute;
  left:103px;
  top:4206px;
  width:1293px;
  height:58px;
}
#u41169 {
  position:absolute;
  left:2px;
  top:21px;
  width:1289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41170_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41170 {
  position:absolute;
  left:16px;
  top:4098px;
  width:30px;
  height:30px;
}
#u41171 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41172 {
  position:absolute;
  left:78px;
  top:4101px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u41173 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u41174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  height:292px;
}
#u41174 {
  position:absolute;
  left:97px;
  top:4310px;
  width:1322px;
  height:292px;
}
#u41175 {
  position:absolute;
  left:2px;
  top:138px;
  width:1318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u41176 {
  position:absolute;
  left:97px;
  top:4182px;
  width:79px;
  height:20px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u41177 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u41178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u41178 {
  position:absolute;
  left:97px;
  top:4280px;
  width:79px;
  height:20px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u41179 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u41180_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41180 {
  position:absolute;
  left:1965px;
  top:1489px;
  width:30px;
  height:30px;
}
#u41181 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41182 {
  position:absolute;
  left:2027px;
  top:1489px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u41183 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u41184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:420px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41184 {
  position:absolute;
  left:2017px;
  top:1540px;
  width:2px;
  height:420px;
}
#u41185 {
  position:absolute;
  left:2px;
  top:202px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:296px;
}
#u41186 {
  position:absolute;
  left:2039px;
  top:1570px;
  width:333px;
  height:296px;
}
#u41187 {
  position:absolute;
  left:2px;
  top:140px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41188 {
  position:absolute;
  left:2029px;
  top:1540px;
  width:135px;
  height:20px;
  line-height:20px;
}
#u41189 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u41190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41190 {
  position:absolute;
  left:2452px;
  top:1540px;
  width:205px;
  height:20px;
  line-height:20px;
}
#u41191 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u41192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:293px;
}
#u41192 {
  position:absolute;
  left:2452px;
  top:1573px;
  width:316px;
  height:293px;
}
#u41193 {
  position:absolute;
  left:2px;
  top:138px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41194 {
  position:absolute;
  left:2029px;
  top:1926px;
  width:541px;
  height:20px;
  line-height:20px;
}
#u41195 {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  white-space:nowrap;
}
#u41196_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41196 {
  position:absolute;
  left:1965px;
  top:1989px;
  width:30px;
  height:30px;
}
#u41197 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41198 {
  position:absolute;
  left:2027px;
  top:1989px;
  width:181px;
  height:24px;
  font-size:20px;
}
#u41199 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u41200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:280px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41200 {
  position:absolute;
  left:2017px;
  top:2040px;
  width:2px;
  height:280px;
}
#u41201 {
  position:absolute;
  left:2px;
  top:132px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:225px;
}
#u41202 {
  position:absolute;
  left:2039px;
  top:2078px;
  width:293px;
  height:225px;
}
#u41203 {
  position:absolute;
  left:2px;
  top:104px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41204 {
  position:absolute;
  left:2039px;
  top:2048px;
  width:135px;
  height:20px;
  line-height:20px;
}
#u41205 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u41206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41206 {
  position:absolute;
  left:2414px;
  top:2048px;
  width:317px;
  height:20px;
  line-height:20px;
}
#u41207 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  white-space:nowrap;
}
#u41208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:229px;
}
#u41208 {
  position:absolute;
  left:2416px;
  top:2090px;
  width:315px;
  height:229px;
}
#u41209 {
  position:absolute;
  left:2px;
  top:106px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41210_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41210 {
  position:absolute;
  left:1965px;
  top:2356px;
  width:30px;
  height:30px;
}
#u41211 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41212 {
  position:absolute;
  left:2027px;
  top:2356px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u41213 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u41214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:460px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41214 {
  position:absolute;
  left:2017px;
  top:2405px;
  width:2px;
  height:460px;
}
#u41215 {
  position:absolute;
  left:2px;
  top:222px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41216 {
  position:absolute;
  left:2039px;
  top:2404px;
  width:135px;
  height:20px;
  line-height:20px;
}
#u41217 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u41218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:259px;
}
#u41218 {
  position:absolute;
  left:2039px;
  top:2434px;
  width:283px;
  height:259px;
}
#u41219 {
  position:absolute;
  left:2px;
  top:122px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41220 {
  position:absolute;
  left:2414px;
  top:2404px;
  width:163px;
  height:20px;
  line-height:20px;
}
#u41221 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u41222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:465px;
}
#u41222 {
  position:absolute;
  left:2416px;
  top:2423px;
  width:242px;
  height:465px;
}
#u41223 {
  position:absolute;
  left:2px;
  top:224px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:185px;
}
#u41224 {
  position:absolute;
  left:2069px;
  top:2700px;
  width:224px;
  height:185px;
}
#u41225 {
  position:absolute;
  left:2px;
  top:84px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41226 {
  position:absolute;
  left:97px;
  top:2695px;
  width:669px;
  height:20px;
  line-height:20px;
}
#u41227 {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  white-space:nowrap;
}
#u41228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:60px;
}
#u41228 {
  position:absolute;
  left:119px;
  top:2733px;
  width:696px;
  height:60px;
}
#u41229 {
  position:absolute;
  left:2px;
  top:22px;
  width:692px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:55px;
}
#u41230 {
  position:absolute;
  left:2031px;
  top:682px;
  width:878px;
  height:55px;
}
#u41231 {
  position:absolute;
  left:2px;
  top:20px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:49px;
}
#u41232 {
  position:absolute;
  left:2029px;
  top:464px;
  width:834px;
  height:49px;
}
#u41233 {
  position:absolute;
  left:2px;
  top:16px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:42px;
}
#u41234 {
  position:absolute;
  left:2028px;
  top:540px;
  width:840px;
  height:42px;
}
#u41235 {
  position:absolute;
  left:2px;
  top:13px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:46px;
}
#u41236 {
  position:absolute;
  left:2029px;
  top:612px;
  width:840px;
  height:46px;
}
#u41237 {
  position:absolute;
  left:2px;
  top:15px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u41238 {
  position:absolute;
  left:2029px;
  top:661px;
  width:611px;
  height:20px;
  line-height:20px;
}
#u41239 {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  white-space:nowrap;
}
