body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41797 {
  position:absolute;
  left:57px;
  top:1851px;
  width:435px;
  height:32px;
}
#u41798 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
#u41799_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41799 {
  position:absolute;
  left:2px;
  top:1576px;
  width:30px;
  height:30px;
}
#u41800 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41801 {
  position:absolute;
  left:47px;
  top:1580px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41802 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u41803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u41803 {
  position:absolute;
  left:57px;
  top:2265px;
  width:353px;
  height:90px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u41804 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u41805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u41805 {
  position:absolute;
  left:57px;
  top:2365px;
  width:155px;
  height:144px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u41806 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u41807_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:960px;
  height:87px;
}
#u41807 {
  position:absolute;
  left:57px;
  top:1744px;
  width:950px;
  height:77px;
}
#u41808 {
  position:absolute;
  left:2px;
  top:30px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41809_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:944px;
  height:102px;
}
#u41809 {
  position:absolute;
  left:57px;
  top:1642px;
  width:934px;
  height:92px;
}
#u41810 {
  position:absolute;
  left:2px;
  top:38px;
  width:930px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41811 {
  position:absolute;
  left:57px;
  top:2519px;
  width:275px;
  height:16px;
}
#u41812 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u41813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:364px;
}
#u41813 {
  position:absolute;
  left:57px;
  top:1891px;
  width:421px;
  height:364px;
}
#u41814 {
  position:absolute;
  left:2px;
  top:174px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:905px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u41815 {
  position:absolute;
  left:47px;
  top:1616px;
  width:6px;
  height:905px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u41816 {
  position:absolute;
  left:8px;
  top:4px;
  width:1px;
  word-wrap:break-word;
}
#u41817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41818_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:652px;
  height:93px;
}
#u41818 {
  position:absolute;
  left:57px;
  top:1355px;
  width:642px;
  height:83px;
}
#u41819 {
  position:absolute;
  left:2px;
  top:34px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41820_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:663px;
  height:83px;
}
#u41820 {
  position:absolute;
  left:57px;
  top:1467px;
  width:653px;
  height:73px;
}
#u41821 {
  position:absolute;
  left:2px;
  top:28px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41822_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41822 {
  position:absolute;
  left:2px;
  top:1147px;
  width:30px;
  height:30px;
}
#u41823 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41824 {
  position:absolute;
  left:47px;
  top:1151px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41825 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u41826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41826 {
  position:absolute;
  left:57px;
  top:1337px;
  width:37px;
  height:16px;
}
#u41827 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u41828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41828 {
  position:absolute;
  left:57px;
  top:1447px;
  width:37px;
  height:16px;
}
#u41829 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u41830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u41830 {
  position:absolute;
  left:57px;
  top:1193px;
  width:625px;
  height:144px;
  line-height:18px;
}
#u41831 {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  white-space:nowrap;
}
#u41832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:348px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u41832 {
  position:absolute;
  left:47px;
  top:1192px;
  width:6px;
  height:348px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u41833 {
  position:absolute;
  left:8px;
  top:4px;
  width:1px;
  word-wrap:break-word;
}
#u41834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:450px;
}
#u41834 {
  position:absolute;
  left:57px;
  top:2951px;
  width:439px;
  height:450px;
}
#u41835 {
  position:absolute;
  left:2px;
  top:217px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41836 {
  position:absolute;
  left:57px;
  top:2602px;
  width:92px;
  height:15px;
  font-size:12px;
}
#u41837 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u41838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u41838 {
  position:absolute;
  left:57px;
  top:2623px;
  width:353px;
  height:90px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u41839 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u41840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41840 {
  position:absolute;
  left:57px;
  top:2817px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u41841 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u41842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u41842 {
  position:absolute;
  left:57px;
  top:2835px;
  width:345px;
  height:108px;
  line-height:18px;
}
#u41843 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u41844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41844 {
  position:absolute;
  left:57px;
  top:2727px;
  width:92px;
  height:15px;
  font-size:12px;
}
#u41845 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u41846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u41846 {
  position:absolute;
  left:57px;
  top:2749px;
  width:353px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u41847 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u41848_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41848 {
  position:absolute;
  left:2px;
  top:2558px;
  width:30px;
  height:30px;
}
#u41849 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41850 {
  position:absolute;
  left:47px;
  top:2562px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41851 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u41852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:782px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u41852 {
  position:absolute;
  left:47px;
  top:2602px;
  width:6px;
  height:782px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u41853 {
  position:absolute;
  left:8px;
  top:4px;
  width:1px;
  word-wrap:break-word;
}
#u41854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:422px;
}
#u41854 {
  position:absolute;
  left:57px;
  top:3767px;
  width:427px;
  height:422px;
}
#u41855 {
  position:absolute;
  left:2px;
  top:203px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41856 {
  position:absolute;
  left:58px;
  top:3668px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u41857 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u41858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u41858 {
  position:absolute;
  left:58px;
  top:3688px;
  width:345px;
  height:72px;
  line-height:18px;
}
#u41859 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u41860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41860 {
  position:absolute;
  left:58px;
  top:3461px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u41861 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u41862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u41862 {
  position:absolute;
  left:58px;
  top:3487px;
  width:323px;
  height:90px;
  line-height:18px;
}
#u41863 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u41864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41864 {
  position:absolute;
  left:58px;
  top:3587px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u41865 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u41866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  line-height:18px;
}
#u41866 {
  position:absolute;
  left:58px;
  top:3604px;
  width:255px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  line-height:18px;
}
#u41867 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u41868_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41868 {
  position:absolute;
  left:2px;
  top:3421px;
  width:30px;
  height:30px;
}
#u41869 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41870 {
  position:absolute;
  left:47px;
  top:3425px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41871 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u41872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:713px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u41872 {
  position:absolute;
  left:47px;
  top:3461px;
  width:6px;
  height:713px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u41873 {
  position:absolute;
  left:8px;
  top:4px;
  width:1px;
  word-wrap:break-word;
}
#u41874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41874 {
  position:absolute;
  left:56px;
  top:4250px;
  width:527px;
  height:16px;
}
#u41875 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  white-space:nowrap;
}
#u41876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41876 {
  position:absolute;
  left:47px;
  top:4218px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41877 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u41878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:343px;
}
#u41878 {
  position:absolute;
  left:56px;
  top:4534px;
  width:386px;
  height:343px;
}
#u41879 {
  position:absolute;
  left:2px;
  top:164px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41880 {
  position:absolute;
  left:56px;
  top:4494px;
  width:345px;
  height:16px;
}
#u41881 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u41882_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:920px;
  height:89px;
}
#u41882 {
  position:absolute;
  left:56px;
  top:4287px;
  width:910px;
  height:79px;
}
#u41883 {
  position:absolute;
  left:2px;
  top:32px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41885_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:953px;
  height:102px;
}
#u41885 {
  position:absolute;
  left:56px;
  top:4381px;
  width:943px;
  height:92px;
}
#u41886 {
  position:absolute;
  left:2px;
  top:38px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41887_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41887 {
  position:absolute;
  left:2px;
  top:4210px;
  width:30px;
  height:30px;
}
#u41888 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:613px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u41889 {
  position:absolute;
  left:47px;
  top:4250px;
  width:6px;
  height:613px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u41890 {
  position:absolute;
  left:8px;
  top:4px;
  width:1px;
  word-wrap:break-word;
}
#u41891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41893 {
  position:absolute;
  left:47px;
  top:824px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41894 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u41895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u41895 {
  position:absolute;
  left:57px;
  top:860px;
  width:373px;
  height:108px;
  line-height:18px;
}
#u41896 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u41897_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u41897 {
  position:absolute;
  left:2px;
  top:820px;
  width:30px;
  height:30px;
}
#u41898 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u41899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:133px;
}
#u41899 {
  position:absolute;
  left:57px;
  top:978px;
  width:214px;
  height:133px;
}
#u41900 {
  position:absolute;
  left:2px;
  top:58px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u41901 {
  position:absolute;
  left:47px;
  top:860px;
  width:6px;
  height:251px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u41902 {
  position:absolute;
  left:8px;
  top:4px;
  width:1px;
  word-wrap:break-word;
}
#u41903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1394px;
  height:794px;
}
#u41903 {
  position:absolute;
  left:0px;
  top:0px;
  width:1394px;
  height:794px;
}
#u41904 {
  position:absolute;
  left:2px;
  top:389px;
  width:1390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u41905 {
  position:absolute;
  left:57px;
  top:1616px;
  width:300px;
  height:16px;
  font-size:14px;
}
#u41906 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
