body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1490px;
}
#u49994 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1490px;
}
#u49995 {
  position:absolute;
  left:2px;
  top:737px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:617px;
}
#u49996 {
  position:absolute;
  left:1px;
  top:873px;
  width:200px;
  height:617px;
}
#u49997 {
  position:absolute;
  left:2px;
  top:300px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u49998 {
  position:absolute;
  left:53px;
  top:1061px;
  width:121px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u49999 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u50000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:84px;
}
#u50000 {
  position:absolute;
  left:485px;
  top:1136px;
  width:224px;
  height:84px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u50001 {
  position:absolute;
  left:2px;
  top:26px;
  width:220px;
  word-wrap:break-word;
}
#u50002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50002 {
  position:absolute;
  left:294px;
  top:1766px;
  width:410px;
  height:280px;
}
#u50003 {
  position:absolute;
  left:2px;
  top:132px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50004 {
  position:absolute;
  left:491px;
  top:2077px;
  width:43px;
  height:16px;
}
#u50005 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u50006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50006 {
  position:absolute;
  left:637px;
  top:1903px;
  width:10px;
  height:10px;
}
#u50007 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:75px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u50008 {
  position:absolute;
  left:295px;
  top:1970px;
  width:390px;
  height:75px;
  font-size:11px;
}
#u50009 {
  position:absolute;
  left:2px;
  top:30px;
  width:386px;
  word-wrap:break-word;
}
#u50010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50010 {
  position:absolute;
  left:655px;
  top:1903px;
  width:10px;
  height:10px;
}
#u50011 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50012 {
  position:absolute;
  left:673px;
  top:1903px;
  width:10px;
  height:10px;
}
#u50013 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u50014 {
  position:absolute;
  left:363px;
  top:1766px;
  width:30px;
  height:46px;
  font-size:11px;
}
#u50015 {
  position:absolute;
  left:2px;
  top:16px;
  width:26px;
  word-wrap:break-word;
}
#u50016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50016 {
  position:absolute;
  left:321px;
  top:1942px;
  width:100px;
  height:30px;
  opacity:0.6;
}
#u50017 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50018 {
  position:absolute;
  left:441px;
  top:1940px;
  width:100px;
  height:30px;
  opacity:0.6;
}
#u50019 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50020 {
  position:absolute;
  left:558px;
  top:1940px;
  width:100px;
  height:30px;
  opacity:0.6;
}
#u50021 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50022 {
  position:absolute;
  left:232px;
  top:1879px;
  width:43px;
  height:16px;
}
#u50023 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u50024_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:161px;
}
#u50024p000 {
  position:absolute;
  left:-71px;
  top:70px;
  width:143px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u50024p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:163px;
  height:21px;
}
#u50024p001 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:22px;
  height:22px;
}
#u50024p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50024p002 {
  position:absolute;
  left:-11px;
  top:126px;
  width:22px;
  height:22px;
}
#u50024p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50024.compound {
  width:0px;
  height:0px;
}
#u50024 {
  position:absolute;
  left:719px;
  top:1905px;
  width:1px;
  height:141px;
}
#u50025 {
  position:absolute;
  left:2px;
  top:62px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50026 {
  position:absolute;
  left:720px;
  top:1951px;
  width:43px;
  height:16px;
}
#u50027 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u50028_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:428px;
  height:21px;
}
#u50028p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:410px;
  height:1px;
}
#u50028p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:430px;
  height:21px;
}
#u50028p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u50028p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50028p002 {
  position:absolute;
  left:393px;
  top:-11px;
  width:22px;
  height:22px;
}
#u50028p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50028.compound {
  width:0px;
  height:0px;
}
#u50028 {
  position:absolute;
  left:292px;
  top:2071px;
  width:408px;
  height:1px;
}
#u50029 {
  position:absolute;
  left:2px;
  top:-8px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50030_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:109px;
}
#u50030p000 {
  position:absolute;
  left:-45px;
  top:44px;
  width:91px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u50030p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:111px;
  height:21px;
}
#u50030p001 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:22px;
  height:22px;
}
#u50030p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50030p002 {
  position:absolute;
  left:-11px;
  top:74px;
  width:22px;
  height:22px;
}
#u50030p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50030.compound {
  width:0px;
  height:0px;
}
#u50030 {
  position:absolute;
  left:766px;
  top:1818px;
  width:1px;
  height:89px;
}
#u50031 {
  position:absolute;
  left:2px;
  top:36px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50032 {
  position:absolute;
  left:775px;
  top:1853px;
  width:35px;
  height:16px;
}
#u50033 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u50034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50034 {
  position:absolute;
  left:345px;
  top:1932px;
  width:53px;
  height:40px;
  opacity:0.6;
}
#u50035 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u50036 {
  position:absolute;
  left:464px;
  top:1930px;
  width:53px;
  height:40px;
  opacity:0.6;
  font-size:10px;
}
#u50037 {
  position:absolute;
  left:2px;
  top:14px;
  width:49px;
  word-wrap:break-word;
}
#u50038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50038 {
  position:absolute;
  left:583px;
  top:1930px;
  width:53px;
  height:40px;
  opacity:0.6;
}
#u50039 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50040_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:296px;
}
#u50040p000 {
  position:absolute;
  left:-138px;
  top:137px;
  width:277px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u50040p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:297px;
  height:22px;
}
#u50040p001 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:22px;
  height:22px;
}
#u50040p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50040p002 {
  position:absolute;
  left:-11px;
  top:261px;
  width:22px;
  height:22px;
}
#u50040p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50040.compound {
  width:0px;
  height:0px;
}
#u50040 {
  position:absolute;
  left:279px;
  top:1767px;
  width:1px;
  height:276px;
}
#u50041 {
  position:absolute;
  left:2px;
  top:130px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u50042 {
  position:absolute;
  left:270px;
  top:1674px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u50043 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u50044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50044 {
  position:absolute;
  left:270px;
  top:1712px;
  width:275px;
  height:16px;
}
#u50045 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u50046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:332px;
}
#u50046 {
  position:absolute;
  left:132px;
  top:2787px;
  width:523px;
  height:332px;
}
#u50047 {
  position:absolute;
  left:2px;
  top:158px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:372px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50048 {
  position:absolute;
  left:122px;
  top:2770px;
  width:653px;
  height:372px;
}
#u50049 {
  position:absolute;
  left:2px;
  top:178px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u50050 {
  position:absolute;
  left:391px;
  top:1811px;
  width:376px;
  height:1px;
}
#u50051 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50052 {
  position:absolute;
  left:358px;
  top:1833px;
  width:280px;
  height:82px;
}
#u50053 {
  position:absolute;
  left:2px;
  top:33px;
  width:276px;
  word-wrap:break-word;
}
#u50054_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:79px;
  height:21px;
}
#u50054p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:61px;
  height:1px;
}
#u50054p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:81px;
  height:21px;
}
#u50054p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u50054p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50054p002 {
  position:absolute;
  left:44px;
  top:-11px;
  width:22px;
  height:22px;
}
#u50054p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50054.compound {
  width:0px;
  height:0px;
}
#u50054 {
  position:absolute;
  left:296px;
  top:1847px;
  width:59px;
  height:1px;
}
#u50055 {
  position:absolute;
  left:2px;
  top:-8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50056_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:79px;
  height:21px;
}
#u50056p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:61px;
  height:1px;
}
#u50056p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:81px;
  height:21px;
}
#u50056p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u50056p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50056p002 {
  position:absolute;
  left:44px;
  top:-11px;
  width:22px;
  height:22px;
}
#u50056p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50056.compound {
  width:0px;
  height:0px;
}
#u50056 {
  position:absolute;
  left:639px;
  top:1850px;
  width:59px;
  height:1px;
}
#u50057 {
  position:absolute;
  left:2px;
  top:-8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50058 {
  position:absolute;
  left:307px;
  top:1822px;
  width:35px;
  height:16px;
}
#u50059 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u50060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50060 {
  position:absolute;
  left:648px;
  top:1827px;
  width:35px;
  height:16px;
}
#u50061 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u50062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50062 {
  position:absolute;
  left:212px;
  top:3316px;
  width:763px;
  height:170px;
}
#u50063 {
  position:absolute;
  left:2px;
  top:77px;
  width:759px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50064_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:140px;
}
#u50064p000 {
  position:absolute;
  left:-60px;
  top:59px;
  width:121px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u50064p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:141px;
  height:22px;
}
#u50064p001 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:22px;
  height:22px;
}
#u50064p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50064p002 {
  position:absolute;
  left:-11px;
  top:105px;
  width:22px;
  height:22px;
}
#u50064p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u50064.compound {
  width:0px;
  height:0px;
}
#u50064 {
  position:absolute;
  left:371px;
  top:1813px;
  width:1px;
  height:120px;
}
#u50065 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50066 {
  position:absolute;
  left:362px;
  top:1870px;
  width:45px;
  height:16px;
}
#u50067 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u50068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u50068 {
  position:absolute;
  left:619px;
  top:1915px;
  width:1px;
  height:15px;
}
#u50069 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50070 {
  position:absolute;
  left:628px;
  top:1916px;
  width:38px;
  height:16px;
}
#u50071 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u50072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:197px;
}
#u50072 {
  position:absolute;
  left:273px;
  top:2114px;
  width:478px;
  height:197px;
}
#u50073 {
  position:absolute;
  left:2px;
  top:90px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
