body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:992px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:280px;
}
#u43499 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:280px;
}
#u43500 {
  position:absolute;
  left:2px;
  top:132px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:122px;
}
#u43501 {
  position:absolute;
  left:0px;
  top:280px;
  width:20px;
  height:122px;
}
#u43502 {
  position:absolute;
  left:2px;
  top:53px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:280px;
}
#u43503 {
  position:absolute;
  left:20px;
  top:0px;
  width:972px;
  height:280px;
}
#u43504 {
  position:absolute;
  left:2px;
  top:132px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:116px;
}
#u43505 {
  position:absolute;
  left:20px;
  top:286px;
  width:143px;
  height:116px;
}
#u43506 {
  position:absolute;
  left:2px;
  top:50px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:36px;
}
#u43507 {
  position:absolute;
  left:163px;
  top:280px;
  width:829px;
  height:36px;
}
#u43508 {
  position:absolute;
  left:2px;
  top:10px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:86px;
}
#u43509 {
  position:absolute;
  left:163px;
  top:316px;
  width:829px;
  height:86px;
}
#u43510 {
  position:absolute;
  left:2px;
  top:35px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43511 {
  position:absolute;
  left:659px;
  top:305px;
  width:125px;
  height:32px;
}
#u43512 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u43513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43513 {
  position:absolute;
  left:33px;
  top:296px;
  width:79px;
  height:32px;
}
#u43514 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
