body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1696px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23829 {
  position:absolute;
  left:224px;
  top:0px;
  width:1696px;
  height:60px;
}
#u23830 {
  position:absolute;
  left:2px;
  top:22px;
  width:1692px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:846px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23831 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:846px;
}
#u23832 {
  position:absolute;
  left:2px;
  top:415px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u23833 {
  position:absolute;
  left:81px;
  top:13px;
  width:63px;
  height:63px;
}
#u23834 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23835 {
  position:absolute;
  left:76px;
  top:86px;
  width:81px;
  height:16px;
}
#u23836 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23837 {
  position:absolute;
  left:243px;
  top:80px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23838 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u23839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23839 {
  position:absolute;
  left:234px;
  top:173px;
  width:1225px;
  height:1px;
}
#u23840 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23841 {
  position:absolute;
  left:243px;
  top:137px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23842 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2F8BCD;
}
#u23843 {
  position:absolute;
  left:300px;
  top:137px;
  width:43px;
  height:16px;
  color:#2F8BCD;
}
#u23844 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u23845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23845 {
  position:absolute;
  left:234px;
  top:184px;
  width:1225px;
  height:38px;
}
#u23846 {
  position:absolute;
  left:2px;
  top:11px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23847 {
  position:absolute;
  left:243px;
  top:195px;
  width:16px;
  height:16px;
}
#u23848 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23849 {
  position:absolute;
  left:293px;
  top:195px;
  width:14px;
  height:16px;
}
#u23850 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u23851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23851 {
  position:absolute;
  left:463px;
  top:195px;
  width:43px;
  height:16px;
}
#u23852 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u23853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23853 {
  position:absolute;
  left:1297px;
  top:195px;
  width:29px;
  height:16px;
}
#u23854 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23855 {
  position:absolute;
  left:243px;
  top:239px;
  width:16px;
  height:16px;
}
#u23856 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23857 {
  position:absolute;
  left:243px;
  top:288px;
  width:16px;
  height:16px;
}
#u23858 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23859 {
  position:absolute;
  left:234px;
  top:270px;
  width:1225px;
  height:1px;
}
#u23860 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23861 {
  position:absolute;
  left:243px;
  top:338px;
  width:16px;
  height:16px;
}
#u23862 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23863 {
  position:absolute;
  left:234px;
  top:320px;
  width:1225px;
  height:1px;
}
#u23864 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23865 {
  position:absolute;
  left:243px;
  top:388px;
  width:16px;
  height:16px;
}
#u23866 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23867 {
  position:absolute;
  left:234px;
  top:370px;
  width:1225px;
  height:1px;
}
#u23868 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23869 {
  position:absolute;
  left:243px;
  top:439px;
  width:16px;
  height:16px;
}
#u23870 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23871 {
  position:absolute;
  left:234px;
  top:420px;
  width:1225px;
  height:1px;
}
#u23872 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23873 {
  position:absolute;
  left:243px;
  top:490px;
  width:16px;
  height:16px;
}
#u23874 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23875 {
  position:absolute;
  left:234px;
  top:470px;
  width:1225px;
  height:1px;
}
#u23876 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23877 {
  position:absolute;
  left:234px;
  top:524px;
  width:1225px;
  height:1px;
}
#u23878 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23879 {
  position:absolute;
  left:1159px;
  top:754px;
  width:237px;
  height:16px;
}
#u23880 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u23881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23881 {
  position:absolute;
  left:1159px;
  top:139px;
  width:237px;
  height:16px;
}
#u23882 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u23883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23883 {
  position:absolute;
  left:52px;
  top:134px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23884 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u23885 {
  position:absolute;
  left:130px;
  top:139px;
  width:17px;
  height:11px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u23886 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23887 {
  position:absolute;
  left:51px;
  top:207px;
  width:57px;
  height:16px;
}
#u23888 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23889 {
  position:absolute;
  left:293px;
  top:240px;
  width:1066px;
  height:16px;
}
#u23890 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  word-wrap:break-word;
}
#u23891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23891 {
  position:absolute;
  left:716px;
  top:195px;
  width:57px;
  height:16px;
}
#u23892 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u23893 {
  position:absolute;
  left:52px;
  top:172px;
  width:85px;
  height:16px;
  color:#199ED8;
}
#u23894 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23895 {
  position:absolute;
  left:293px;
  top:289px;
  width:1066px;
  height:16px;
}
#u23896 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  word-wrap:break-word;
}
#u23897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23897 {
  position:absolute;
  left:293px;
  top:338px;
  width:1066px;
  height:16px;
}
#u23898 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  word-wrap:break-word;
}
#u23899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23899 {
  position:absolute;
  left:293px;
  top:388px;
  width:1066px;
  height:16px;
}
#u23900 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  word-wrap:break-word;
}
#u23901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23901 {
  position:absolute;
  left:293px;
  top:439px;
  width:1066px;
  height:16px;
}
#u23902 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  word-wrap:break-word;
}
#u23903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23903 {
  position:absolute;
  left:293px;
  top:490px;
  width:1066px;
  height:16px;
}
#u23904 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  word-wrap:break-word;
}
#u23905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23905 {
  position:absolute;
  left:243px;
  top:543px;
  width:16px;
  height:16px;
}
#u23906 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23907 {
  position:absolute;
  left:234px;
  top:574px;
  width:1225px;
  height:1px;
}
#u23908 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23909 {
  position:absolute;
  left:293px;
  top:543px;
  width:1066px;
  height:16px;
}
#u23910 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  word-wrap:break-word;
}
#u23911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23911 {
  position:absolute;
  left:243px;
  top:589px;
  width:16px;
  height:16px;
}
#u23912 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23913 {
  position:absolute;
  left:243px;
  top:640px;
  width:16px;
  height:16px;
}
#u23914 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23915 {
  position:absolute;
  left:234px;
  top:620px;
  width:1225px;
  height:1px;
}
#u23916 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23917 {
  position:absolute;
  left:234px;
  top:674px;
  width:1225px;
  height:1px;
}
#u23918 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23919 {
  position:absolute;
  left:293px;
  top:589px;
  width:1066px;
  height:16px;
}
#u23920 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  word-wrap:break-word;
}
#u23921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23921 {
  position:absolute;
  left:293px;
  top:640px;
  width:1066px;
  height:16px;
}
#u23922 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  word-wrap:break-word;
}
#u23923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23923 {
  position:absolute;
  left:243px;
  top:693px;
  width:16px;
  height:16px;
}
#u23924 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23925 {
  position:absolute;
  left:234px;
  top:724px;
  width:1225px;
  height:1px;
}
#u23926 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23927 {
  position:absolute;
  left:293px;
  top:693px;
  width:1066px;
  height:16px;
}
#u23928 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  word-wrap:break-word;
}
#u23929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u23929 {
  position:absolute;
  left:353px;
  top:137px;
  width:1px;
  height:16px;
}
#u23930 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2F8BCD;
}
#u23931 {
  position:absolute;
  left:365px;
  top:137px;
  width:43px;
  height:16px;
  color:#2F8BCD;
}
#u23932 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
