body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1696px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23933 {
  position:absolute;
  left:224px;
  top:0px;
  width:1696px;
  height:60px;
}
#u23934 {
  position:absolute;
  left:2px;
  top:22px;
  width:1692px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:846px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23935 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:846px;
}
#u23936 {
  position:absolute;
  left:2px;
  top:415px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u23937 {
  position:absolute;
  left:81px;
  top:13px;
  width:63px;
  height:63px;
}
#u23938 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23939 {
  position:absolute;
  left:76px;
  top:86px;
  width:81px;
  height:16px;
}
#u23940 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23941 {
  position:absolute;
  left:243px;
  top:80px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23942 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23943 {
  position:absolute;
  left:234px;
  top:173px;
  width:1225px;
  height:1px;
}
#u23944 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23945 {
  position:absolute;
  left:243px;
  top:137px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23946 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2F8BCD;
}
#u23947 {
  position:absolute;
  left:300px;
  top:137px;
  width:43px;
  height:16px;
  color:#2F8BCD;
}
#u23948 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u23949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23949 {
  position:absolute;
  left:234px;
  top:184px;
  width:1225px;
  height:38px;
}
#u23950 {
  position:absolute;
  left:2px;
  top:11px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23951 {
  position:absolute;
  left:243px;
  top:195px;
  width:16px;
  height:16px;
}
#u23952 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23953 {
  position:absolute;
  left:293px;
  top:195px;
  width:14px;
  height:16px;
}
#u23954 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u23955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23955 {
  position:absolute;
  left:423px;
  top:195px;
  width:43px;
  height:16px;
}
#u23956 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u23957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23957 {
  position:absolute;
  left:1337px;
  top:195px;
  width:29px;
  height:16px;
}
#u23958 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23959 {
  position:absolute;
  left:243px;
  top:239px;
  width:16px;
  height:16px;
}
#u23960 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23961 {
  position:absolute;
  left:243px;
  top:288px;
  width:16px;
  height:16px;
}
#u23962 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23963 {
  position:absolute;
  left:234px;
  top:270px;
  width:1225px;
  height:1px;
}
#u23964 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23965 {
  position:absolute;
  left:243px;
  top:338px;
  width:16px;
  height:16px;
}
#u23966 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23967 {
  position:absolute;
  left:234px;
  top:320px;
  width:1225px;
  height:1px;
}
#u23968 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23969 {
  position:absolute;
  left:243px;
  top:388px;
  width:16px;
  height:16px;
}
#u23970 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23971 {
  position:absolute;
  left:234px;
  top:370px;
  width:1225px;
  height:1px;
}
#u23972 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23973 {
  position:absolute;
  left:243px;
  top:439px;
  width:16px;
  height:16px;
}
#u23974 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23975 {
  position:absolute;
  left:234px;
  top:420px;
  width:1225px;
  height:1px;
}
#u23976 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23977 {
  position:absolute;
  left:243px;
  top:490px;
  width:16px;
  height:16px;
}
#u23978 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23979 {
  position:absolute;
  left:234px;
  top:470px;
  width:1225px;
  height:1px;
}
#u23980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23981 {
  position:absolute;
  left:234px;
  top:524px;
  width:1225px;
  height:1px;
}
#u23982 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23983 {
  position:absolute;
  left:1159px;
  top:754px;
  width:237px;
  height:16px;
}
#u23984 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u23985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23985 {
  position:absolute;
  left:1220px;
  top:139px;
  width:237px;
  height:16px;
}
#u23986 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u23987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23987 {
  position:absolute;
  left:52px;
  top:134px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23988 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u23989 {
  position:absolute;
  left:130px;
  top:139px;
  width:17px;
  height:11px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u23990 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u23991 {
  position:absolute;
  left:51px;
  top:207px;
  width:57px;
  height:16px;
  color:#199ED8;
}
#u23992 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23993 {
  position:absolute;
  left:293px;
  top:240px;
  width:1166px;
  height:16px;
}
#u23994 {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  word-wrap:break-word;
}
#u23995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23995 {
  position:absolute;
  left:574px;
  top:195px;
  width:57px;
  height:16px;
}
#u23996 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23997 {
  position:absolute;
  left:52px;
  top:177px;
  width:85px;
  height:16px;
}
#u23998 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23999 {
  position:absolute;
  left:243px;
  top:543px;
  width:16px;
  height:16px;
}
#u24000 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u24001 {
  position:absolute;
  left:234px;
  top:574px;
  width:1225px;
  height:1px;
}
#u24002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24003 {
  position:absolute;
  left:243px;
  top:589px;
  width:16px;
  height:16px;
}
#u24004 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24005 {
  position:absolute;
  left:243px;
  top:640px;
  width:16px;
  height:16px;
}
#u24006 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u24007 {
  position:absolute;
  left:234px;
  top:620px;
  width:1225px;
  height:1px;
}
#u24008 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u24009 {
  position:absolute;
  left:234px;
  top:674px;
  width:1225px;
  height:1px;
}
#u24010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24011 {
  position:absolute;
  left:243px;
  top:693px;
  width:16px;
  height:16px;
}
#u24012 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u24013 {
  position:absolute;
  left:234px;
  top:724px;
  width:1225px;
  height:1px;
}
#u24014 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u24015 {
  position:absolute;
  left:353px;
  top:137px;
  width:1px;
  height:16px;
}
#u24016 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2F8BCD;
}
#u24017 {
  position:absolute;
  left:365px;
  top:137px;
  width:43px;
  height:16px;
  color:#2F8BCD;
}
#u24018 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u24019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24019 {
  position:absolute;
  left:763px;
  top:196px;
  width:71px;
  height:16px;
}
#u24020 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24021 {
  position:absolute;
  left:936px;
  top:195px;
  width:57px;
  height:16px;
}
#u24022 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24023 {
  position:absolute;
  left:1120px;
  top:195px;
  width:57px;
  height:16px;
}
#u24024 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2F8BCD;
}
#u24025 {
  position:absolute;
  left:438px;
  top:137px;
  width:71px;
  height:16px;
  color:#2F8BCD;
}
#u24026 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u24027 {
  position:absolute;
  left:521px;
  top:137px;
  width:1px;
  height:16px;
}
#u24028 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2F8BCD;
}
#u24029 {
  position:absolute;
  left:532px;
  top:137px;
  width:71px;
  height:16px;
  color:#2F8BCD;
}
#u24030 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2F8BCD;
}
#u24031 {
  position:absolute;
  left:645px;
  top:137px;
  width:71px;
  height:16px;
  color:#2F8BCD;
}
#u24032 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u24033 {
  position:absolute;
  left:728px;
  top:137px;
  width:1px;
  height:16px;
}
#u24034 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2F8BCD;
}
#u24035 {
  position:absolute;
  left:739px;
  top:137px;
  width:71px;
  height:16px;
  color:#2F8BCD;
}
#u24036 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24037 {
  position:absolute;
  left:293px;
  top:289px;
  width:1166px;
  height:16px;
}
#u24038 {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  word-wrap:break-word;
}
#u24039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24039 {
  position:absolute;
  left:293px;
  top:339px;
  width:1166px;
  height:16px;
}
#u24040 {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  word-wrap:break-word;
}
#u24041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24041 {
  position:absolute;
  left:293px;
  top:389px;
  width:1166px;
  height:16px;
}
#u24042 {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  word-wrap:break-word;
}
#u24043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24043 {
  position:absolute;
  left:293px;
  top:439px;
  width:1166px;
  height:16px;
}
#u24044 {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  word-wrap:break-word;
}
#u24045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24045 {
  position:absolute;
  left:293px;
  top:491px;
  width:1166px;
  height:16px;
}
#u24046 {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  word-wrap:break-word;
}
#u24047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24047 {
  position:absolute;
  left:293px;
  top:544px;
  width:1166px;
  height:16px;
}
#u24048 {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  word-wrap:break-word;
}
#u24049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24049 {
  position:absolute;
  left:293px;
  top:591px;
  width:1166px;
  height:16px;
}
#u24050 {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  word-wrap:break-word;
}
#u24051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24051 {
  position:absolute;
  left:293px;
  top:641px;
  width:1166px;
  height:16px;
}
#u24052 {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  word-wrap:break-word;
}
#u24053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24053 {
  position:absolute;
  left:293px;
  top:691px;
  width:1166px;
  height:16px;
}
#u24054 {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  word-wrap:break-word;
}
