body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1696px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23715 {
  position:absolute;
  left:224px;
  top:0px;
  width:1696px;
  height:60px;
}
#u23716 {
  position:absolute;
  left:2px;
  top:22px;
  width:1692px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:846px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23717 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:846px;
}
#u23718 {
  position:absolute;
  left:2px;
  top:415px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u23719 {
  position:absolute;
  left:81px;
  top:13px;
  width:63px;
  height:63px;
}
#u23720 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23721 {
  position:absolute;
  left:76px;
  top:86px;
  width:81px;
  height:16px;
}
#u23722 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23723 {
  position:absolute;
  left:52px;
  top:129px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23724 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23725 {
  position:absolute;
  left:61px;
  top:204px;
  width:57px;
  height:16px;
}
#u23726 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u23727 {
  position:absolute;
  left:130px;
  top:134px;
  width:17px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u23728 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u23729 {
  position:absolute;
  left:61px;
  top:235px;
  width:57px;
  height:16px;
  color:#199ED8;
}
#u23730 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23731 {
  position:absolute;
  left:243px;
  top:80px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23732 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23733 {
  position:absolute;
  left:61px;
  top:173px;
  width:57px;
  height:16px;
}
#u23734 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23735 {
  position:absolute;
  left:234px;
  top:173px;
  width:1225px;
  height:1px;
}
#u23736 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23737 {
  position:absolute;
  left:243px;
  top:137px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23738 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2F8BCD;
}
#u23739 {
  position:absolute;
  left:300px;
  top:137px;
  width:43px;
  height:16px;
  color:#2F8BCD;
}
#u23740 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u23741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23741 {
  position:absolute;
  left:234px;
  top:184px;
  width:1225px;
  height:38px;
}
#u23742 {
  position:absolute;
  left:2px;
  top:11px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23743 {
  position:absolute;
  left:243px;
  top:195px;
  width:16px;
  height:16px;
}
#u23744 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23745 {
  position:absolute;
  left:293px;
  top:195px;
  width:14px;
  height:16px;
}
#u23746 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u23747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23747 {
  position:absolute;
  left:391px;
  top:195px;
  width:57px;
  height:16px;
}
#u23748 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23749 {
  position:absolute;
  left:542px;
  top:195px;
  width:57px;
  height:16px;
}
#u23750 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23751 {
  position:absolute;
  left:858px;
  top:195px;
  width:57px;
  height:16px;
}
#u23752 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23753 {
  position:absolute;
  left:1010px;
  top:195px;
  width:57px;
  height:16px;
}
#u23754 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23755 {
  position:absolute;
  left:703px;
  top:195px;
  width:57px;
  height:16px;
}
#u23756 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23757 {
  position:absolute;
  left:1305px;
  top:195px;
  width:29px;
  height:16px;
}
#u23758 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23759 {
  position:absolute;
  left:277px;
  top:239px;
  width:1182px;
  height:16px;
}
#u23760 {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  word-wrap:break-word;
}
#u23761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23761 {
  position:absolute;
  left:372px;
  top:133px;
  width:80px;
  height:22px;
}
#u23762 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
#u23763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23763 {
  position:absolute;
  left:243px;
  top:239px;
  width:16px;
  height:16px;
}
#u23764 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23765 {
  position:absolute;
  left:243px;
  top:288px;
  width:16px;
  height:16px;
}
#u23766 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23767 {
  position:absolute;
  left:234px;
  top:270px;
  width:1225px;
  height:1px;
}
#u23768 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23769 {
  position:absolute;
  left:243px;
  top:338px;
  width:16px;
  height:16px;
}
#u23770 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23771 {
  position:absolute;
  left:234px;
  top:320px;
  width:1225px;
  height:1px;
}
#u23772 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23773 {
  position:absolute;
  left:243px;
  top:388px;
  width:16px;
  height:16px;
}
#u23774 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23775 {
  position:absolute;
  left:234px;
  top:370px;
  width:1225px;
  height:1px;
}
#u23776 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23777 {
  position:absolute;
  left:243px;
  top:439px;
  width:16px;
  height:16px;
}
#u23778 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23779 {
  position:absolute;
  left:234px;
  top:420px;
  width:1225px;
  height:1px;
}
#u23780 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23781 {
  position:absolute;
  left:243px;
  top:490px;
  width:16px;
  height:16px;
}
#u23782 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23783 {
  position:absolute;
  left:234px;
  top:470px;
  width:1225px;
  height:1px;
}
#u23784 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23785 {
  position:absolute;
  left:234px;
  top:524px;
  width:1225px;
  height:1px;
}
#u23786 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23787 {
  position:absolute;
  left:1159px;
  top:744px;
  width:237px;
  height:16px;
}
#u23788 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u23789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23789 {
  position:absolute;
  left:243px;
  top:738px;
  width:80px;
  height:22px;
}
#u23790 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
#u23791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23791 {
  position:absolute;
  left:1152px;
  top:195px;
  width:57px;
  height:16px;
}
#u23792 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23793 {
  position:absolute;
  left:277px;
  top:289px;
  width:1182px;
  height:16px;
}
#u23794 {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  word-wrap:break-word;
}
#u23795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23795 {
  position:absolute;
  left:277px;
  top:339px;
  width:1182px;
  height:16px;
}
#u23796 {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  word-wrap:break-word;
}
#u23797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23797 {
  position:absolute;
  left:277px;
  top:389px;
  width:1182px;
  height:16px;
}
#u23798 {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  word-wrap:break-word;
}
#u23799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23799 {
  position:absolute;
  left:277px;
  top:439px;
  width:1182px;
  height:16px;
}
#u23800 {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  word-wrap:break-word;
}
#u23801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23801 {
  position:absolute;
  left:277px;
  top:489px;
  width:1182px;
  height:16px;
}
#u23802 {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  word-wrap:break-word;
}
#u23803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23803 {
  position:absolute;
  left:1159px;
  top:139px;
  width:237px;
  height:16px;
}
#u23804 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u23805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23805 {
  position:absolute;
  left:243px;
  top:538px;
  width:16px;
  height:16px;
}
#u23806 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23807 {
  position:absolute;
  left:243px;
  top:588px;
  width:16px;
  height:16px;
}
#u23808 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23809 {
  position:absolute;
  left:234px;
  top:570px;
  width:1225px;
  height:1px;
}
#u23810 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23811 {
  position:absolute;
  left:243px;
  top:639px;
  width:16px;
  height:16px;
}
#u23812 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23813 {
  position:absolute;
  left:234px;
  top:620px;
  width:1225px;
  height:1px;
}
#u23814 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23815 {
  position:absolute;
  left:243px;
  top:690px;
  width:16px;
  height:16px;
}
#u23816 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23817 {
  position:absolute;
  left:234px;
  top:670px;
  width:1225px;
  height:1px;
}
#u23818 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:2px;
}
#u23819 {
  position:absolute;
  left:234px;
  top:724px;
  width:1225px;
  height:1px;
}
#u23820 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23821 {
  position:absolute;
  left:277px;
  top:539px;
  width:1182px;
  height:16px;
}
#u23822 {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  word-wrap:break-word;
}
#u23823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23823 {
  position:absolute;
  left:277px;
  top:589px;
  width:1182px;
  height:16px;
}
#u23824 {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  word-wrap:break-word;
}
#u23825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23825 {
  position:absolute;
  left:277px;
  top:639px;
  width:1182px;
  height:16px;
}
#u23826 {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  word-wrap:break-word;
}
#u23827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23827 {
  position:absolute;
  left:277px;
  top:689px;
  width:1182px;
  height:16px;
}
#u23828 {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  word-wrap:break-word;
}
