body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1449px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49650 {
  position:absolute;
  left:502px;
  top:111px;
  width:411px;
  height:294px;
}
#u49651 {
  position:absolute;
  left:2px;
  top:139px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:46px;
}
#u49652 {
  position:absolute;
  left:537px;
  top:155px;
  width:124px;
  height:46px;
  font-size:30px;
}
#u49653 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u49654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:103px;
}
#u49654 {
  position:absolute;
  left:537px;
  top:218px;
  width:341px;
  height:103px;
  font-size:24px;
}
#u49655 {
  position:absolute;
  left:2px;
  top:2px;
  width:337px;
  white-space:nowrap;
}
#u49656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
}
#u49656 {
  position:absolute;
  left:723px;
  top:355px;
  width:49px;
  height:34px;
  font-size:22px;
}
#u49657 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u49658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
}
#u49658 {
  position:absolute;
  left:823px;
  top:354px;
  width:49px;
  height:34px;
  font-size:22px;
  color:#49A9F0;
}
#u49659 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u49660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49662 {
  position:absolute;
  left:502px;
  top:442px;
  width:411px;
  height:294px;
}
#u49663 {
  position:absolute;
  left:2px;
  top:139px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u49664 {
  position:absolute;
  left:537px;
  top:486px;
  width:124px;
  height:46px;
  font-size:30px;
}
#u49665 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u49666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u49666 {
  position:absolute;
  left:537px;
  top:549px;
  width:341px;
  height:103px;
  font-size:24px;
}
#u49667 {
  position:absolute;
  left:2px;
  top:2px;
  width:337px;
  white-space:nowrap;
}
#u49668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#49A9F0;
}
#u49668 {
  position:absolute;
  left:823px;
  top:685px;
  width:49px;
  height:34px;
  font-size:22px;
  color:#49A9F0;
}
#u49669 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u49670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49672 {
  position:absolute;
  left:502px;
  top:777px;
  width:411px;
  height:197px;
}
#u49673 {
  position:absolute;
  left:2px;
  top:90px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u49674 {
  position:absolute;
  left:565px;
  top:814px;
  width:285px;
  height:88px;
  font-size:20px;
}
#u49675 {
  position:absolute;
  left:2px;
  top:2px;
  width:281px;
  white-space:nowrap;
}
#u49676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#49A9F0;
}
#u49676 {
  position:absolute;
  left:823px;
  top:923px;
  width:49px;
  height:34px;
  font-size:22px;
  color:#49A9F0;
}
#u49677 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u49678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u49678 {
  position:absolute;
  left:733px;
  top:924px;
  width:49px;
  height:34px;
  font-size:22px;
}
#u49679 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u49680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49681 {
  position:absolute;
  left:502px;
  top:1015px;
  width:411px;
  height:197px;
}
#u49682 {
  position:absolute;
  left:2px;
  top:90px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u49683 {
  position:absolute;
  left:565px;
  top:1052px;
  width:285px;
  height:88px;
  font-size:20px;
}
#u49684 {
  position:absolute;
  left:2px;
  top:2px;
  width:281px;
  white-space:nowrap;
}
#u49685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#49A9F0;
}
#u49685 {
  position:absolute;
  left:823px;
  top:1161px;
  width:49px;
  height:34px;
  font-size:22px;
  color:#49A9F0;
}
#u49686 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u49687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:217px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49688 {
  position:absolute;
  left:502px;
  top:1248px;
  width:411px;
  height:217px;
}
#u49689 {
  position:absolute;
  left:2px;
  top:100px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:72px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49690 {
  position:absolute;
  left:502px;
  top:1321px;
  width:411px;
  height:72px;
}
#u49691 {
  position:absolute;
  left:2px;
  top:28px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
}
#u49692 {
  position:absolute;
  left:520px;
  top:1266px;
  width:71px;
  height:34px;
  font-size:22px;
}
#u49693 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  white-space:nowrap;
}
#u49694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:34px;
}
#u49694 {
  position:absolute;
  left:520px;
  top:1340px;
  width:159px;
  height:34px;
  font-size:22px;
}
#u49695 {
  position:absolute;
  left:2px;
  top:2px;
  width:155px;
  white-space:nowrap;
}
#u49696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
}
#u49696 {
  position:absolute;
  left:520px;
  top:1403px;
  width:71px;
  height:34px;
  font-size:22px;
}
#u49697 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  white-space:nowrap;
}
#u49698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:540px;
}
#u49698 {
  position:absolute;
  left:488px;
  top:1534px;
  width:961px;
  height:540px;
}
#u49699 {
  position:absolute;
  left:2px;
  top:262px;
  width:957px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 特细', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u49700 {
  position:absolute;
  left:819px;
  top:1978px;
  width:300px;
  height:106px;
  font-family:'PingFang SC 特细', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u49701 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u49702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49702 {
  position:absolute;
  left:92px;
  top:3822px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49703 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u49704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49706 {
  position:absolute;
  left:283px;
  top:4010px;
  width:380px;
  height:676px;
}
#u49707 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:60px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49708 {
  position:absolute;
  left:284px;
  top:4011px;
  width:378px;
  height:60px;
}
#u49709 {
  position:absolute;
  left:2px;
  top:22px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49710 {
  position:absolute;
  left:283px;
  top:4635px;
  width:385px;
  height:55px;
}
#u49711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u49711 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u49712 {
  position:absolute;
  left:2px;
  top:17px;
  width:91px;
  word-wrap:break-word;
}
#u49713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u49713 {
  position:absolute;
  left:95px;
  top:0px;
  width:95px;
  height:50px;
}
#u49714 {
  position:absolute;
  left:2px;
  top:17px;
  width:91px;
  word-wrap:break-word;
}
#u49715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u49715 {
  position:absolute;
  left:190px;
  top:0px;
  width:95px;
  height:50px;
}
#u49716 {
  position:absolute;
  left:2px;
  top:17px;
  width:91px;
  word-wrap:break-word;
}
#u49717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u49717 {
  position:absolute;
  left:285px;
  top:0px;
  width:95px;
  height:50px;
}
#u49718 {
  position:absolute;
  left:2px;
  top:17px;
  width:91px;
  word-wrap:break-word;
}
#u49719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49721 {
  position:absolute;
  left:630px;
  top:4019px;
  width:7px;
  height:6px;
  opacity:0.5;
}
#u49722 {
  position:absolute;
  left:2px;
  top:-5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49723 {
  position:absolute;
  left:616px;
  top:4017px;
  width:17px;
  height:10px;
  opacity:0.5;
}
#u49724 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49725 {
  position:absolute;
  left:616px;
  top:4017px;
  width:8px;
  height:10px;
  opacity:0.5;
}
#u49726 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u49727 {
  position:absolute;
  left:639px;
  top:4017px;
  width:17px;
  height:10px;
  font-size:8px;
  color:#FFFFFF;
}
#u49728 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u49729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u49729 {
  position:absolute;
  left:321px;
  top:4015px;
  width:41px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u49730 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u49731 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u49732 {
  position:absolute;
  left:288px;
  top:4019px;
  width:5px;
  height:5px;
  font-size:18px;
}
#u49733 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u49734 {
  position:absolute;
  left:294px;
  top:4019px;
  width:5px;
  height:5px;
  font-size:18px;
}
#u49735 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u49736 {
  position:absolute;
  left:301px;
  top:4019px;
  width:5px;
  height:5px;
  font-size:18px;
}
#u49737 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u49738 {
  position:absolute;
  left:306px;
  top:4019px;
  width:5px;
  height:5px;
  font-size:18px;
}
#u49739 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u49740 {
  position:absolute;
  left:313px;
  top:4019px;
  width:5px;
  height:5px;
  font-size:18px;
}
#u49741 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u49742 {
  position:absolute;
  left:461px;
  top:4016px;
  width:28px;
  height:14px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u49743 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u49744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u49744 {
  position:absolute;
  left:380px;
  top:4016px;
  width:9px;
  height:9px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#FFFFFF;
}
#u49745 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49746 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u49747 {
  position:absolute;
  left:457px;
  top:4040px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u49748 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u49749 {
  position:absolute;
  left:292px;
  top:4042px;
  width:53px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u49750 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
